

# hyperparams
[net_hyper]
optimizer=AdamW
batch_size=16
input_feature_number=8192
latent_dim=100
# no used
learning_rate=0.002

# ###########
# encoder
# ##########

[dense_block]
batch_normalize=1
output= 4096
activate=gelu

[dense_block]
batch_normalize=1
output=256
activate=gelu


[dense_block1]
batch_normalize=1
output= 4096
activate=gelu

[dense_block2]
batch_normalize=1
output=8192
activate=gelu

# ##############
# discriminator
# ##############

[dense_block]
batch_normalize=1
output=1
activate=sigmoid

